@charset "utf-8";
/* CSS Document */
#CopyrightContainer{
	text-align:right;
	width:100%;
}

#Copyright{
	font-size: 10px;
	color:#999;
}

.thisBlock{
	width: 100px; 
	height: 100px; 
	margin-bottom: 2px;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	display: table;
    border: 1px solid;
    #position: relative;
	margin: 30px auto;
   -webkit-perspective: 100px;	
}

.contenedorImagen{
	display: table-cell;
    vertical-align: middle;
    #position:absolute;
    #top: 50%;
	/*opacity: .25;
   	-moz-opacity: .25;
   	filter:alpha(opacity=25);*/
}

.imagenStyle{
    #position:relative;
    #top:-50%;
}

@-webkit-keyframes turnImage {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

.turnImage:hover {
   -webkit-animation-name: turnImage;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-duration: 3s;
   -webkit-transform-style: preserve-3d;
}