@charset "utf-8";
/* CSS Document */
#CopyrightContainer{
	text-align:right;
	width:100%;
}

#Copyright{
	font-size: 10px;
	color:#999;
}

.thisBlock{
	width: 100px; 
	height: 100px; 
	margin-bottom: 2px;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	display: table;
    border: 1px solid;
    #position: relative;
	margin: 30px auto;
   -webkit-perspective: 100px;	
}

.contenedorImagen{
	display: table-cell;
    vertical-align: middle;
    #position:absolute;
    #top: 50%;
	/*opacity: .25;
   	-moz-opacity: .25;
   	filter:alpha(opacity=25);*/
}

.imgColors{
	cursor:pointer;	
}

.imagenStyle{
    #position:relative;
    #top:-50%;
}

@-webkit-keyframes turnImage {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

@-ms-keyframes turnImage{
	from { -ms-transform: rotateY(0deg);    }
  	to   { -ms-transform: rotateY(-360deg); }
}

@-moz-keyframes turnImage{
	from { -moz-transform: rotateY(0deg);    }
  	to   { -moz-transform: rotateY(-360deg); }
}

@-o-keyframes turnImage{
	from { -o-transform: rotateY(0deg);    }
  	to   { -o-transform: rotateY(-360deg); }
}

.turnImage:hover {
   -webkit-animation-name: turnImage;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-duration: 3s;
   -webkit-transform-style: preserve-3d;
   -ms-animation-name: turnImage;
   -ms-animation-timing-function: linear;
   -ms-animation-iteration-count: 1;
   -ms-animation-duration: 3s;
   -ms-transform-style: preserve-3d;
   -moz-animation-name: turnImage;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: 1;
   -moz-animation-duration: 3s;
   -moz-transform-style: preserve-3d;
   -o-animation-name: turnImage;
   -o-animation-timing-function: linear;
   -o-animation-iteration-count: 1;
   -o-animation-duration: 3s;
   -o-transform-style: preserve-3d;
}

.error{

 	background-color: #f78185;
	background-size: auto;
	border-right-width: 1px;
    padding-bottom: 6.390625px;
	padding-left: 6.390625px;
	padding-right: 6.390625px;
	padding-top: 6.390625px;
    border-radius: 9.59375px;
    color: black;
    font-weight: normal;
	margin-right: 4px;
	width: 40px;
    position: relative;
	z-index:10;
}
